# --- Dependencies & System ---
node_modules/
.DS_Store
Thumbs.db

# --- Output Data ---
# Ignores the heavy reports containing HTML/JSON
reports/

# --- Lighthouse CI Cache ---
.lighthouseci/
lighthouserc.json

# --- User Input ---
# Optional: Ignore specific URL lists to keep user data private
urls.txt
!urls.sample.txt
